$white-color: #ffffff;
$blue-color: #007dd7;
$orange-color: #ff6b00;

$yellow-color : #ffcb00;

$black-color: #222222;
$black-color: #222222;

$gray-color: #e1e1e1;
$gray-color: #e1e1e1;

$gray-cold-color: #b5b5b6;
$gray-cold-color: #b5b5b6;

$dark-color: #353536;

