-
  var comments = [
    {
      imgSrc: '/img/clients/Pavel.png',
      name: 'Павел Скопцов',
      rating: 5,
      msg: 'Все очень просто, быстро, и качественно! Дома на диване! Хочется выразить благодарность за оперативность и доверия "Кредитному Центру"! И самое главное под маленький %!!! Первый кредит, я брала без %!!! Просто волшебно! Компания зарабатывает клиентов, и репутацию.Советую всем!'
    },
    {
      imgSrc: '/img/clients/Nastya.png',
      name: 'Анастасия Елистарова',
      rating: 3,
      msg: 'Очень быстрое и легкое зачисление денег, легко их погасить. Суперская компания, если понадобятся срочно деньги, буду использовать только ее!!!'
    },
    {
      imgSrc: '/img/clients/Igor.png',
      name: 'Игорь Смольников',
      rating: 5,
      msg: 'Очень быстрое и легкое зачисление денег, легко их погасить. Суперская компания, если понадобятся срочно деньги, буду использовать только ее!!!'
    },
    {
      imgSrc: '/img/clients/Vitaly.png',
      name: 'Виталий Атюшов',
      rating: 4,
      msg: 'Я работаю, зарплата часто бывает расписана, но в Казани столько соблазнов, пройдешь по магазин, увидишь что-нибудь и сразу захочется купить, тут приходит КЦ на помощь) моментально приходят деньги на карту, а даже если нет возможности оплатить, можно продлить займ, чтобы не было просрочек;) Спасибо КЦ за хорошее настроение)'
    }
  ]

mixin comment(data)
  article.ct-Comment
    header.ct-Comment_header.sw-ClearFix
      img(src=data.imgSrc, alt='Фото клиента').ct-Comment_photo
      div.ct-Comment_name-rate-wrapper
        div.ct-Comment_rating
          - for(var i = 0; i < data.rating; i++)
            img(src="/img/icons/star-filled.png")
          - for( ; i < 5; i++)
            img(src="/img/icons/star-stroke.png")
        address.ct-Comment_name= data.name
    p.ct-Comment_message= data.msg
